@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300..800&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

h1{color: #c8bcbc;}
span{font-size: 0.8rem;}
img{width: 200px;}